@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    margin-top: 20px;
    text-align: center;
}

.navigatie {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: beige;
    display: flex;
    flex-direction: column;
}

.navigatie a {
    background-size: contain;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    margin: 15px auto;
    transition: transform 0.3s ease-in-out;
}

.navigatie .home {
    background-image: url('../images/home.svg');
}

.navigatie .profiel {
    background-image: url('../images/Profile.png');
}

.navigatie .inbox {
    background-image: url('../images/Inbox_font_awesome.svg.png');
}

.navigatie .help {
    background-image: url('../images/Help.png');
    margin-top: auto
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
}
.content ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none; 
    padding: 0; 
}

.blok {
    width: 200px;
    height: 150px;
    background-color: white;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: left;
    animation: fadeInText 5s ease-in-out forwards;
    opacity: 0;
    
}
.blok button {
    background-color: #f5f5dc;
    color: rgb(0, 0, 0);
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.blok button:hover {
    background-color: #A0522D;
}
.blok button a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: beige;
    color: rgb(5, 5, 5);
    text-align: center;
    padding: 10px;
    border-top: 1px solid #2f2f2f;
}
.navigatie a:hover {
    transform: scale(1.1) rotate(10deg);
}

li {
    list-style-type: none;
    
}
h1 {
    text-align: left;
    opacity: 0;
    animation: fadeInText 5s ease-in-out forwards;
}

@keyframes fadeInText {
    from {
        opacity: 0;
        
    }
    to {
        opacity: 1;
    }
    }   

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25%, 75% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
}
